@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");

* {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  border: none;
  outline: none;
}

body {
  background-color: #f3f3f3;
}

/* ----- Header ----- */

header {
  height: 80px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;

  display: flex;
  justify-content: space-between;

  padding: 15px 20px;
  background-color: #fff;
  box-shadow: 0px 0px 5px -1px rgba(0, 0, 0, 0.4);
}

header .imgLogo {
  width: 75px;
  height: 53px;
}

header .imgContatos {
  width: 45px;
  height: 45px;
}

/* ----- Main ----- */

main {
  margin: 100px 0px;
}

.mensagem {
  font-size: 14px;
  display: flex;
  align-items: center;
  gap: 5px;
  padding: 14px;
  margin-bottom: 5px;
}

.status {
  background-color: #dcdcdc;
}
.reservada {
  background-color: #ffdede;
}
.normal {
  background-color: #ffffff;
}

.hora {
  color: #aaaaaa;
}
.nome,
.texto {
  color: #000000;
}
strong {
  font-weight: bold;
}

.conteudo-mensagem {
  line-height: 1.5;
}

/* ----- Footer ----- */

footer {
  height: 80px;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 999;

  display: flex;
  justify-content: space-between;

  padding: 15px 20px;
  background-color: #fff;
}

footer button img {
  width: 26px;
  height: 26px;
}
